:root {
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-s: 12px;
  --space-m: 16px;
  --space-l: 20px;
  --space-xl: 24px;
  --space-xxl: 28px;

  --font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
  --font-weight-normal: 400;
  --font-weight-bold: 600;
  --font-family-xxs: var(--font-family);
  --font-family-xs: var(--font-family);
  --font-family-s: var(--font-family);
  --font-family-m: var(--font-family);
  --font-family-l: var(--font-family);
  --font-family-xl: var(--font-family);
  --font-family-xxl: var(--font-family);
  --font-family-xxxl: var(--font-family);
  --font-family-xxxxl: var(--font-family);
  --font-family-xxxxxl: var(--font-family);
  --font-size-xxs: 10px;
  --font-size-xs: 10px;
  --font-size-s: 12px;
  --font-size-m: 14px;
  --font-size-l: 16px;
  --font-size-xl: 18px;
  --font-size-xxl: 20px;
  --font-size-xxxl: 24px;
  --font-size-xxxxl: 28px;
  --font-size-xxxxxl: 32px;
  --font-weight-xxs: var(--font-weight-normal);
  --font-weight-xs: var(--font-weight-normal);
  --font-weight-s: var(--font-weight-normal);
  --font-weight-m: var(--font-weight-normal);
  --font-weight-l: var(--font-weight-normal);
  --font-weight-xl: var(--font-weight-normal);
  --font-weight-xxl: var(--font-weight-bold);
  --font-weight-xxxl: var(--font-weight-bold);
  --font-weight-xxxxl: var(--font-weight-bold);
  --font-weight-xxxxxl: var(--font-weight-bold);

  --themeDarker: #005a3f;
  --themeDark: #007a55;
  --themeDarkAlt: #009165;
  --themePrimary: #00a170;
  --themeSecondary: #15ac7f;
  --themeTertiary: #4fc6a3;
  --themeLight: #9fe3ce;
  --themeLighter: #caf0e4;
  --themeLighterAlt: #f1fbf8;
  --neutralLighterAlt: #faf9f8;
  --neutralLighter: #f3f2f1;
  --neutralLight: #edebe9;
  --neutralQuaternaryAlt: #e1dfdd;
  --neutralQuaternary: #d0d0d0;
  --neutralTertiaryAlt: #c8c6c4;
  --neutralTertiary: #a19f9d;
  --neutralSecondaryAlt: #8a8886;
  --neutralSecondary: #605e5c;
  --neutralPrimaryAlt: #3b3a39;
  --neutralPrimary: #323130;
  --neutralDark: #201f1e;
  --black: #000000;
  --white: #ffffff;
}
