.root {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  z-index: 1000000;

  .wrapper {
    visibility: visible;

    .container {
      position: relative;

      .content {
        position: absolute;
      }
    }
  }
}
