@import '../../mixin.scss';

.root {
  composes: root from './Button.scss';
  background-color: var(--primaryButtonBackground);
  border-color: var(--primaryButtonBorder);
  color: var(--primaryButtonText);
  &:hover {
    background-color: var(--primaryButtonBackgroundHovered);
    color: var(--primaryButtonTextHovered);
  }
  &:active {
    background-color: var(--primaryButtonBackgroundPressed);
    color: var(--primaryButtonTextPressed);
  }
  &:disabled {
    background-color: var(--primaryButtonBackgroundDisabled);
    color: var(--primaryButtonTextDisabled);
    cursor: default;
  }
}
