@import '../../mixin.scss';

.checked {
  background-color: var(--buttonBackgroundChecked);
  color: var(--buttonTextChecked);
  &:hover:not(:disabled) {
    background-color: var(--buttonBackgroundCheckedHovered);
    color: var(--buttonTextCheckedHovered);
  }
  &:disabled {
    background-color: var(--buttonBackgroundCheckedDisabled);
    border-color: var(--buttonBorderCheckedDisabled);
  }
}
